.main {
  width: calc(100% - 150px);
  margin-top: 70px;
  margin: 100px 150px 50px 150px;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 
    -1px 1px #cacaca,
    -2px 2px #cacaca;
  user-select: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.279);
}

.header > div {
  height: 40px;
  line-height: 40px;
  padding: 5px 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.279);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: auto;
}

.back-button {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 1000px;
  cursor: pointer;
  transform: scale(1.6);

  margin-bottom: 100px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.279);
  transition: transform 0.35;

  position: relative;
  overflow: hidden;
}

.back-button:hover {
  transform: scale(1.75);
}

.back-button:hover::after {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 165, 234, 0.211);
  animation: button-glide-animation ease-out 0.5s;
  transform: scale(4);
}

@keyframes button-glide-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(4);
  }
}

.selector-component {
  max-width: 900px;
  border: 3px solid rgba(0, 0, 0, 0.279);
  padding: 50px 100px;
  display: block;
  /* margin: auto; */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.selector-actions {
  padding: 60px 100px 20px 100px;
  display: flex;
  justify-content: space-around;
}

.btn-primary {
  padding: 10px 25px;
  color: rgba(246, 246, 246, 0.932);
  background-color: rgb(60, 0, 255);
  font-weight: 700;
}
.btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 100px;
}
.btn:active {
  transform: scale(0.98);
  user-select: none;
}
.btn-secondary {
  color: #fff;
  background-color: #43dcff;
  position: relative;
  font-size: 2.5rem;
  border-radius: 3px;
  padding: 10px 30px;
  box-shadow: 1px 1px 4px rgb(130, 130, 130);
}
.btn-secondary:hover {
  background-color: #00cefc;
}
.btn-secondary::after {
  content: "->";
  height: 100%;
  width: 50px;
  padding-left: 25px;
  border-radius: 40px;
  font-weight: 700;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}

.code-close-btn {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.code-close-btn > div:hover {
  background-color: #0000002f;
}
.code-close-btn > div {
  padding: 10px;
}

.source-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px 50px 50px;
}